@font-face {
  font-family:'IRANSansX-Light' ;
  src: url(./fonts/IRANSansX-Light.woff) format('woff');
}

*{
  font-family:'IRANSansX-Light' ;
  padding: 0;
  margin: 0;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background: navy;
  color: #fff;
  padding: 10px;
}

.nav a{
  color: #fff;
  font-size: 25px;
  margin: 0 250px;
}

.store{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cart{
  width: 30%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.cart .info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart button{
  border: none;
  outline: none;
  background: seagreen;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cart img{
  width: 100%;
  height: 250px;
}



