@font-face {
  font-family:'IRANSansX-Light' ;
  src: url(./fonts/IRANSansX-Light.woff) format('woff');
}

*{
  font-family:'IRANSansX-Light' ;
  padding: 0;
  margin: 0;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background: navy;
  color: #fff;
  padding: 10px;
}

.nav a{
  color: #fff;
  font-size: 25px;
  margin: 0 250px;
}

.store{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap ;
  padding: 20px;
  height: 100vh;
}

.cart{
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.cart2{
  width: 80%;
  display: flex;
  align-items: center;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  margin: 10px;
}

.cart2 img{
  width: 230px;
  height: 100%;
  margin-right: 50px;
}

.cart2 .info h2{
  border-bottom: 2px solid black;
}

.cart2 .info p{
  margin: 10px 0;
  font-size: 17px;
}

.cart2 .info .btn{
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart2 .info .btn button:nth-child(1){
  border: none;
  outline: none;
  color: #fff;
  background: crimson;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.cart2 .info .btn button:nth-child(3){
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #fff;
  background: navy;
  padding: 2px 6px;
}

.remove{
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: crimson;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.cart .info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cart button{
  border: none;
  outline: none;
  background: seagreen;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cart img{
  width: 100%;
  height: 250px;
}

.footer{
  background: navy;
  color: #fff;
  padding: 20px;
  text-align: center;
}



